POSTGRES_PORT=1234
PGADMIN_PORT=4567
FRONTEND_PORT=3000

POSTGRES_DB=osl
POSTGRES_USER=osl
POSTGRES_PASSWORD=osl

FRONTEND_APP_NAME=osu-server-list

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

DISCORD_URL=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

DATA_POSTGRES_PATH=./db_data
DATA_LOGO_CACHE_PATH=