MYSQL_PORT=1234
PHPMYADMIN_PORT=4567
FRONTEND_PORT=3000

MYSQL_DATABASE=osl
MYSQL_USERNAME=osl
MYSQL_PASSWORD=osl
MYSQL_ROOT_PASSWORD=osl_root

FRONTEND_APP_NAME=osu-server-list

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

DATA_MYSQL_PATH=./db_data