MYSQL_PORT=1234
PHPMYADMIN_PORT=4567

MYSQL_DATABASE=osl
MYSQL_USERNAME=osl
MYSQL_PASSWORD=osl
MYSQL_ROOT_PASSWORD=osl_root

FRONTEND_APP_NAME=osu-server-list

PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

DATA_MYSQL_PATH=./db_data