POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=osl

PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

PUBLIC_APP_NAME=osu-server-list

PUBLIC_DISCORD_URL=

PUBLIC_DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

SERVER_LOGO_CACHE_PATH=